body{
    align-items: center;
    width: auto;
    margin: auto;
    text-align: center;
   
   

}
.root{
    --cor1:#364649;
    --cor2:#708f96;
    --cor3:#aa895f;
    --cor4:#e0d8cc;

   
}



section{
   
    transition: 3s;
    background-color: #708f96;
    width: 300px;
    height: 400px;
    border-radius: 3px;
    margin: 10vh auto;
}

header{
    background-color: #364649;
    position:fixed;
  margin: 0;
   top: 0;
height: 9vh;
width: 100%;
text-align: center;
color:white;
}

