body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
}

section{
    background-color: rgb(47, 74, 148);
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 410px;
    border-radius: 10px;
}

#valores{
    height: 100px;
    width: 300px;
    padding: 20px;
    text-align: center;
}
#verificar{
height: 20px;
position: absolute;
left:   62% ;
top:60% ;
}
#campo2{
    margin-top: 30px;
  
    
}


